<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Connection string for the Northwind database -->
    <add name="NorthwindData" providerName="System.Data.SqlClient"
         connectionString=".. database connection string .." />
  </connectionStrings>

  <system.web>
  <compilation><assemblies>
    <!-- Referenced .NET 3.5 assemblies required by F# Linq -->
    <add assembly="System.Core, Version=3.5.0.0, Culture=neutral,
                   PublicKeyToken=b77a5c561934e089" />
    <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, 
                   PublicKeyToken=b77a5c561934e089" />
    <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, 
                   PublicKeyToken=b77a5c561934e089" />
  </assemblies></compilation>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="F#;f#;fs;fsharp"
                extension=".fs"
                type="Microsoft.FSharp.Compiler.CodeDom.FSharpAspNetCodeProvider,
                      FSharp.Compiler.CodeDom,
                      Version=1.9.2.9,
                      Culture=neutral,
                      PublicKeyToken=a19089b1c74d0809"/>
    </compilers>
  </system.codedom>
</configuration>
